$box-shadow: #b0b0b0;
$box-background : #ffffff;
$inp-border: #e6e6e6;
$inp-select: #5f9fff;
$header-text: #939393;
$header-bg: #ccc;
$text: #222222;
$btn-text: #ffffff;
$btn-bg: linear-gradient(180deg, rgba(119, 145, 253, 1) 0%, rgba(79, 40, 255, 1) 100%);
$css-bg: #ffffff70;